{{ $coverURL := partial "media/cover.html" (dict "page" . "size" "760x520 webp q82") }}
<li class="post-item">
  <a class="post-link{{ with $coverURL }} has-cover{{ end }}" href="{{ .RelPermalink }}">
    {{ with $coverURL }}<span class="post-cover-bg" aria-hidden="true" style="background-image:url('{{ . }}')"></span>{{ end }}
    <span class="post-body">
      {{ with .Date }}<time class="post-date" datetime="{{ .Format "2006-01-02" }}">{{ .Format "2006-01-02" }}</time>{{ end }}
      <span class="post-title">{{ .Title }}</span>
      {{ with .Summary }}<span class="post-excerpt">{{ . | plainify }}</span>{{ end }}
      {{ with .Params.tags }}
        <span class="post-tags">
          {{ range first 4 . }}<span class="tag">{{ . }}</span>{{ end }}
        </span>
      {{ end }}
    </span>
  </a>
</li>
